<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		<listener class-name="api.utilities.ExtentReportManager" />
	</listeners>
	<test thread-count="5" name="Test">
		<classes>
			<class name="api.test.TC001_UserTest" />
			<!-- <class name="api.test.TC001_UserTest" />
			<class name="api.test.TC002_UserTestDDT" /> 
			<class name="api.test.TC003_UserTestFromProperties" />
			<class name="api.test.TC004_OrderPlaceTest" />
			<class name="api.test.TC005_PetTest" /> -->
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
